.controls {
  display: flex;
  gap: 6px;
  height: 30px;
}

.input {
  flex-grow: 1;
  border: 1px solid gray;
  border-radius: 6px;
  background-color: transparent;
  padding: 4px 12px;
  font-size: 14px;
  line-height: 20px;
}

.button,
.select {
  border: 1px solid gray;
  border-radius: 6px;
  background-color: transparent;
  padding: 0 12px;
  color: white;
  flex-shrink: 0;
}
